*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Common*/
.d-flex{
    display: flex;
    justify-content: center;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
}
.container{
    width: 1300px;
    margin: 0 auto;
}
/*Header*/
header{
    background-color: #ff6900;
    color: #ffffff;
}
.container menu,
.container .logo,
.container .icone{
    flex-grow: 1;
}

.logo{
    text-align: center;
}
