*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*debug*/

/*Common*/
.d-flex{
    display: flex;
    justify-content: center;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
}
.container{
    width: 900px;
    margin: 0 auto;
    padding: 15px 0px;
}
main .top-card img{
    max-width: 100%;
}
main i:hover{
    color: #ff0000;
}
/*Header*/
header{
    background-color: #ff6900;
    color: #ffffff;
}
.container .menu,
.container .logo,
.container .icona{
    flex-grow: 1;
    align-content: center;
}
.container .icona ul{
    justify-content: flex-end;
}
.container .icona:last-child{
    color: #ffffff;
}
.logo{
    text-align: center;
}
.container .logo img{
    width: 130px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}
/*Main*/
.row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 30px;
}
.col{
    width: calc(100% / 3 - 80px / 3);
    flex-shrink: 0;

    position: relative;
}
main .bottom-card span{
    color: red;
}
.top-card img.hover {
    display: none;
}

.top-card:hover img.default {
    display: none;
}

.top-card:hover img.hover {

    display: inline-block;
}

.card{
    position: relative;
}

.text-image{
    display: flex;
    position: absolute;
    bottom: 20%;
    gap: 5px;
    font-size: 13px;
    color: #ffffff;
}
.text-image .sconto{
    background-color: #ff0000;
    padding: 5px 10px;
}
.text-image .sostenibilita{
    background-color: #008000;
    padding: 5px 10px;
}
.bottom-card .cuore{
    padding: 10px;
    position: absolute;
    top:0;
    right: 0;
    background-color: #ffffff;
}
/*footer*/
footer{
    background-color: #000000;
    color: #ffffff;
}
footer .container{
    justify-content: space-between;
}
footer .container h1{
    font-size: 20px;
}
.left-side p{
    padding-top:10px
}
.right-side ul{
    padding-top: 10px;
}
